[submodule "kmod"]
	path = kmod
	url = https://git.kernel.org/pub/scm/utils/kernel/kmod/kmod.git
	branch = master
[submodule "example/lkmpg"]
	path = example/lkmpg
	url = https://github.com/sysprog21/lkmpg.git
